<header class="header_new" role="banner" [ngClass]="{'banner-color':bannerColorToBlack,'positionFixed':positionFixed}">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-3 col-md-2" [ngClass]="{'right50':right50}">
        <a (click)="navigateTo('')" title="APEX HIRE USA">
            <label class="logo">APEX HIRE USA</label>
        </a>
      <span class="mob_icon2" (click)="sidebar('open')" *ngIf="!displayBlock"></span>
      <span class="mob_cross" (click)="sidebar('close')" *ngIf="displayBlock"></span>
    </div>
    <div class="col-xs-12 col-lg-9 col-md-10">
      <ul class="menu_new" [ngClass]="{'display_block':displayBlock}">
        <li class="only_for_mobile no_arrow" *ngIf="currentUser.photos === undefined ? currentUser.photos : currentUser.photos[0].value">
            <img class="img-circle" [src]="currentUser.photos === undefined ? currentUser.photos : currentUser.photos[0].value">
            <a class="user_name">
              {{ currentUser.displayName }}
              <h5>{{ currentUser.emails === undefined ? currentUser.emails : currentUser.emails[0].value }}</h5>
            </a>
            
        </li>
        <li class="menu_arrow"><a (click)="displayServiceMenu = !displayServiceMenu" title="Services">SERVICES</a>
          <div class="sub_menu_new srv-list srv-list-for-small-device-services" [ngClass]="{'display_block':displayServiceMenu}">
            <ul class="sub-menu-list services">
              <li (click)="navigateTo('sapSolutions')" class="first" title="Contract Staffing" class="sap-solutions">Contract Staffing</li>
              <li (click)="navigateTo('softwareDevelopment')" class="first" title="Permanent Staffing" class="workflow">Permanent Staffing</li>
              <li (click)="navigateTo('appEngineDevelopment')" class="first" title="Recruitment Process Outsourcing" class="app-Engine-Development">Engg. Services Recruitment</li>
              <li (click)="navigateTo('iot')" class="first" title="Professional Services" class="iot">IOT & Digital</li>
              <li (click)="navigateTo('networkSecurity')" class="first" title="Apps Integration" class="apps-integration">PLM</li>
            </ul>
          </div>
        </li>
        
        <li class="menu_arrow"><a (click)="displayCompanyMenu = !displayCompanyMenu" title="Company" class="company_a">ABOUT</a>
          <div class="sub_menu_new srv-list srv-list-for-small-device-about" [ngClass]="{'display_block':displayCompanyMenu}">
            <ul class="sub-menu-list about_sub">
              <li (click)="navigateTo('')" class="first" title="About US" class="about-us">What Drives Us</li>
              <li (click)="navigateTo('management')" class="first" title="Management" class="management">Leadership</li>
            </ul>
          </div>
        </li>
        <li class="no_arrow"><a (click)="navigateTo('jobBoard')" title="job_board_a" class="Workflow">JOB BOARD</a></li>
        <li class="no_arrow"><a (click)="navigateTo('contact')" title="Contact" class="contact_a">Contact Us</a></li>
        <!-- <li>
          <ngx-login-btn></ngx-login-btn>
        </li> -->
      </ul>
    </div>
  </div>
</header>
