<section class="val_index_page">
    <div class="banner_index">
        <div class="banner_sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1><span style="color:#ffd740">Permanent Staffing</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="get-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2><strong>Progressive, innovative and dedicated – we pair the right people with the right
                            organisations to the benefit of both candidate and client.</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p style="margin-top:10px;text-align: justify;">Our focused approach and specialist
                        knowledge enables us to quickly get to know your specific business needs and find you
                        people who are just right.</p>
                    <p>We believe in quality over quantity.</p>
                    <p>When you partner with Apex Hire, you can be confident that we will put the right
                        resources and methodologies to get you the best fit for the role. Our global talent
                        network enables us to meet your specific requirements — reaching beyond the basics to
                        align culture, aspirations and values to fit your big-picture goals.</p>

                </div>
            </div>
        </div>
    </div>
</section>