<section class="val_index_page">
    <div class="banner_index">
        <div class="banner_sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1>Contract <span style="color:#41b983">Staffing</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="get-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2><strong>Optimize your talent grid anytime, anywhere.</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p style="text-align:justify;">Need a highly skilled professional to work for you, but not sure if
                        you want to commit for the long haul? Need a contingent workforce for a quarter, but have no
                        idea whether you’ll need them after that timeframe? Then our Contract Staffing services are just
                        for you.<span class="orange-medium"> Call us to get top-notch talent to start coming to you
                            within 48 hours.</span> That’s right. Don’t worry about payroll or hours. Just get the job
                        done.</p>
                    <p>Apex talent network spans the globe. No kidding. In addition, our recruiters are really good
                        at what they do, which is to keep great talent on their radar, and recruit them without much
                        fuss when the need arises. What’s more? You don’t even need to bother about background checks.
                        We’ve got all this under our belt. <span class="orange-medium">With a two-week guarantee</span>,
                        you can rest assured that you get great value and your business will never suffer from lack of
                        great talent. </p>
                    <p><span class="orange-medium">Our two-week guarantee:</span> If you aren’t satisfied with a
                        placement within the first two weeks, you don’t have to pay for services during that period.
                        We’ll send a replacement straight away.</p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li><b>In Brief</b></li>
                        <p style="text-align:justify;">Each of our clients is assigned a dedicated client servicing team
                            and a dedicated recruiting team. When combined, a typical team features four Recruiters, a
                            Lead Recruiter, a Delivery Manager, and an Account Manager, along with our Sales
                            Representative. While our Recruiters are skilled at identifying suitable resumes, our Lead
                            Recruiters possess technical know-how and are adept at fraud detection. We have a sum total
                            of 12-15 Delivery Managers, each specializing in the details of a technical skill-set/stack.
                        </p>
                        <p style="text-align:justify;">In a market teeming with suppliers, what sets apart the leader
                            from the rest? It’s the depth and rigor of the recruiting process. It’s the level of
                            accuracy in matching a resume with the desired skill set. It is the time within which
                            suitable talent is deployed, powering your business uninterrupted. That’s how Apex stays
                            head and shoulders above the rest. And that’s why you should give Apex a try.</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>