<section class="val_index_page">   
        <div class="banner_index">
             <div class="banner_sec">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h1>ERP <span style="color:#41b983">Solutions</span></h1>
                      </div>
                    </div>
                  </div>
              </div>    
        </div>

        <div class="get-info">
          <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2><strong>Increase Your Competitive Advantage Through Your SAP System</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p style="text-align: justify;">Are you looking to your SAP software to increase business 
                        efficiency while driving innovation and differentiation? You can count on us to deliver 
                        the expertise that will enable you to accelerate your business with SAP.
                    </p>
                    <p style="text-align: justify;">
                            We work across the end-to-end SAP stack to provide innovative solutions across
                             functional areas: Core ERP, supply chain management, supplier relationship
                             management, customer relationship management, and enterprise performance management.
                    </p>
                    <p style="margin-bottom:40px;text-align: justify;">
                            If it is analytics that you are seeking, then we 
                            can help with high speed analytics delivered by SAP HANA and semantic 
                            analysis using SAP BusinessObjects. When it comes to mobility, we will leverage SAP mobility
                             solutions that will make it possible for you to access real-time information on the go.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 style="margin-bottom:20px;"><strong>Our SAP focus areas at a glance</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li><b>SAP Solutions</b></li>
                            <p style="text-align: justify;">VRD NETWORK helps businesses worldwide to fully leverage workflow 
                                    solutions that improve business processes. Recently highlighted in the 
                                    Google Apps Developer Blog, VRD demonstrated how to replace a 
                                    cumbersome and time consuming process with an easy to use compliance assurance system.
                            </p>

                        <li><b>SAP Integration</b></li>
                        <p style="text-align: justify;">Connecting your existing enterprise applications with SAP, we will reduce integration errors and accelerate the transition to
                                a stable system. </p>

                        <li><b>SAP Upgrade</b></li>
                        <p style="text-align: justify;">Optimizing your SAP environment, we will make your SAP upgrade more efficient,
                             reduce implementation time, and provide ongoing improvements.</p>

                        <li><b>SAP Testing</b></li>
                        <p style="text-align: justify;">While aligning your SAP system with your ever changing business needs,
                             our testing services will make sure that performance is optimized.</p>
                        
                        <li><b>User Education and Training</b></li>
                        <p style="text-align: justify;">SAP skills gaps, if any, will be addressed by our comprehensive Education and Training programs.</p>
                       
                        <li><b>SAP Support Services</b></li>
                        <p style="text-align: justify;">By outsourcing application maintenance and support to VRD NETWORK, you can rest assured that your SAP solution will 
                                continue to stay in tune with your business processes.</p>
                    </ul>
                </div>
             </div> 
          </div>
        </div>
</section>
