<section class="val_index_page">

  <div class="banner_index">
    <div class="banner_sec">
      <div class="row" style="width:100%;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
          <ol class="carousel-indicators">
            <div *ngFor="let number of slides2 let i = index">
              <li [ngClass]="{'active' : i == count}"></li>
            </div>
          </ol>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item" *ngFor="let image of slides2 let i = index"
                [ngClass]="{'active' : i == count}">
                <img class="d-block w-100" [src]="image.img" alt="First slide">
                <div class="carousel-caption d-none d-md-block" style="top: 200px;">
                  <h1 class="company_desc">Cost effective IT Solutions worldwide</h1>
                  <a class="home_contactus" routerLink="contact"> Contact Us Now </a>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" (click)="prev()" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" (click)="next()" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="get-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about">
          <strong>What Drive Us</strong>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
          <h2>We Offer The Best Engineers for Every Project and The Best Projects for Every Engineer</h2>
          <p>
            Finding top engineering talent is a daunting task in the current hyper-competitive marketplace where the
            best candidates get hired in the blink of an eye. Engineers face their own set of challenges when it comes
            to finding the optimal project that will ensure they remain on the right track for long-term career success.

            Our recruiters really know the engineering industry, which is one of the main reasons why we're able to
            attract top prospects for every assignment. These professionals fully trust our team to package their
            skills, promote their value, and maximize their earning potential on every project. Our staffing team has an
            in-depth knowledge of the various engineering disciplines that we work in, ensuring that each job is matched
            with the best possible candidate.

            Apex hire has a strong track record in the engineering staffing industry. We have provided remarkable
            results to our clients for over 4 years. Our ability to consistently deliver exceptional talent is the
            reason behind our stellar reputation as a top engineering staffing firm, for clients throughout the U.S

          </p>
        </div>
      </div>

    </div>
  </div>

</section>