<section class="val_index_page">

  <div class="banner_index">
      <div class="banner_sec">
            <div class="row" style="width:100%;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                      <ol class="carousel-indicators">
                              <div *ngFor="let number of slides2 let i = index">
                                      <li [ngClass]="{'active' : i == count}"></li>
                              </div>     
                      </ol>
                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner" role="listbox">
                              <div class="carousel-item" *ngFor="let image of slides2 let i = index" [ngClass]="{'active' : i == count}">
                                  <img class="d-block w-100" [src]="image.img" alt="First slide">
                                  <div class="carousel-caption d-none d-md-block" style="top: 200px;">
                                      <h1 class="company_desc">Cost effective IT Solutions worldwide</h1>
                                      <a class="home_contactus" routerLink="contact"> Contact Us Now </a>
                                    </div>
                              </div>
                          </div>
                        <a class="carousel-control-prev" (click)="prev()" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" (click)="next()" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                </div>
              </div> 
       </div>
   </div>

  <div class="get-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about">
          <strong>ABOUT</strong>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
          <p>
            In today's global market place where institutions continues to differentiate themselves
            from competitors through product & service portfolios, global presence and superior clients
            servicing. Our Application Services are well equipped to provide the much-needed IT support
            to its valued customers to achieve their business goals. VRD Network is at the forefront of
            Web 2.0 development, Java Application Development, and cloud based web applications. With
            proven expertise in Java/JEE and Web services, we have a remarkably strong team in the Indian
            IT segment. Gradually with time we learned that Google is making it easier for business customers using
            custom applications building in cloud. We developed our own team of Google developers and trained them in
            Google App Engine and Google Apps Script . The enterprise web applications build with Google that makes it
            simple and easy to store, share and collaborate on documents. Many of our developers are working in US
            based MNC’s
            for custom cloud based development. The service and quality in providing contractual resources to companies
            helped us
            developing corporate partners . Gradually we started sourcing consultants to our corporate partners on
            contractual basis .
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="when-we-started">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading-when-we">
          <strong>WHEN WE STARTED</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-when-we-started">
          <p>We started our new vertical of “Recruitment Solution ” in 2012
            and provided many quality consultants to companies in need.
            We have catered to clients from the US, Australia and India with
            our services ranging across custom software/web development,
            product development, Contractual hiring and Cloud based solutions .
            We always endeavor to render up-to-the-mark application development
            services and recruitment solutions to our esteemed clients.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="default-section">
  <div class="container">
    <div class="row">

      <!--Text Column-->
      <div class="col-md-6 col-sm-12 col-xs-12 text-column">
        <div class="inner-box padd-right-50">
          <h2>Giving IT Solutions worldwide</h2>
          <div class="text">
            <p>Founded in 1996, VRD NETWORK &amp; Communication (P) Ltd , is a privately-held global leader in
              providing cloud computing and strategic IT solutions to organizations worldwide. we provide Google Apps,
              Postini, Google Vault, Google Drive, and Chrome Device products, consulting services &amp; solutions to
              customers worldwide.</p>
            <p>In today's global market place where institutions continues to differentiate themselves from competitors
              through product &amp; service portfolios, global presence and superior clients servicing. Our Application
              Services are well equipped to provide the much-needed IT support to its valued customers to achieve their
              business goals.</p>
            <p>We always endeavor to render up-to-the-mark application development services and recruitment solutions
              to our esteemed clients.</p>
          </div>
        </div>
      </div>

      <!--Counter Column-->
      <div class="col-md-6 col-sm-12 col-xs-12 no-margin-bottom">
        <div class="fact-counter">
          <div class="row">
            <!--Counter Column-->
            <article class="col-md-6 col-sm-6 col-xs-12 counter-column wow fadeIn animated counted" style="visibility: visible; animation-duration: 0ms; animation-name: fadeIn;">
              <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="22">22</span>+</div>
              <div class="text">Years of Business</div>
            </article>
            <!--Counter Column-->
            <article class="col-md-6 col-sm-6 col-xs-12 counter-column wow fadeIn animated counted" data-wow-duration="0ms"
              style="visibility: visible; animation-duration: 0ms; animation-name: fadeIn;">
              <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="20">100</span>+</div>
              <div class="text">Manpower</div>
            </article>
            <!--Counter Column-->
            <article class="col-md-6 col-sm-6 col-xs-12 counter-column wow fadeIn animated counted" data-wow-duration="0ms"
              style="visibility: visible; animation-duration: 0ms; animation-name: fadeIn;">
              <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="150">150</span>+</div>
              <div class="text">More Than Clients</div>
            </article>
            <!--Counter Column-->
            <article class="col-md-6 col-sm-6 col-xs-12 counter-column wow fadeIn animated counted" data-wow-duration="0ms"
              style="visibility: visible; animation-duration: 0ms; animation-name: fadeIn;">
              <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="1000">1000</span>+</div>
              <div class="text">Finance help done each month</div>
            </article>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="developed_project">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="bnr-hdr">
            <h2>Expert Articles Submitted By Consultants</h2>
            <h3>Work in the Future with the new paradigm of mobile, social and cloud computing</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 text-center wow fadeIn   animated" style="visibility: visible;">
          <div class="amoajon_sec"><a routerLink="softwareDevelopment">
              <div class="img_box img_box1">
                <img src="/assets/about_tech.png" alt="Software Development"
                  title="Software Development">
              </div>
            </a>
            <div class="content_box content_box1 content_box2"><a routerLink="softwareDevelopment">
                <h4> Accessing Google Cloud SQL from Apps Script </h4>
                <p> Accessing Google Cloud SQL from Apps Script posted Feb 12, 2014, 11:59 PM by Bipin Sasi Connection to
                  Google Cloud SQL instance From Google Apps Script : Google Apps Script has the ability ...</p>
              </a>
              <!-- <div class="view"><a href=" https://www.valuecoders.com/case-studies/bioplant-traceability-system"></a><a
                  href="https://www.valuecoders.com/case-studies/bioplant-traceability-system">View More..</a></div> -->
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 text-center wow fadeIn   animated" style="visibility: visible;">
          <div class="amoajon_sec"><a routerLink="appEngineDevelopment">
              <div class="img_box img_box1">
                <img src="/assets/about_tech.png" alt="App Engine Development"
                  title="App Engine Development">
              </div>
            </a>
            <div class="content_box content_box1 content_box2"><a>
                <h4> Google Apps Migration for Lotus Notes </h4>
                <p> Google Apps Migration for Lotus Notes posted Mar 7, 2014, 1:38 AM by Bipin Sasi Google Apps Migration
                  for Lotus Notes (GAMLN) is a native Notes database tool that migrates mail, calendar, ...</p>
              </a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 text-center wow fadeIn   animated" style="visibility: visible;">
          <div class="amoajon_sec"><a routerLink="sapSolutions">
              <div class="img_box img_box1">
                <img src="/assets/about_tech.png" alt="Sap Solutions"
                  title="Sap Solutions">
              </div>
            </a>
            <div class="content_box content_box1 content_box2"><a routerLink="sapSolutions">
                <h4> Increase Your Competitive Advantage Through Your SAP System </h4>
                <p> If it is analytics that you are seeking, then we can help with high speed analytics delivered by SAP
                  HANA and semantic
                  analysis using SAP BusinessObjects. When it comes to mobility ...</p>
              </a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 text-center wow fadeIn   animated" style="visibility: visible;">
          <div class="amoajon_sec"><a routerLink="softwareDevelopment">
              <div class="img_box img_box1">
                <img src="/assets/about_tech.png" alt="SoftwareDevelopment"
                  title="Software Development">
              </div>
            </a>
            <div class="content_box content_box1 content_box2"><a routerLink="softwareDevelopment">
                <h4> How Google Apps Emerged as a Leader ? </h4>
                <p> How Google Apps Emerged as a Leader ? posted Mar 7, 2014, 1:37 AM by Bipin Sasi [ updated Mar 7,
                  2014, 1:37 AM ] Google Apps has achieved the ripe old age of ...</p>
              </a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 text-center wow fadeIn   animated" style="visibility: visible;">
          <div class="amoajon_sec"><a routerLink="softwareDevelopment">
              <div class="img_box img_box1">
                <img src="/assets/struts-2_about_tech.jpg" alt="Software Development"
                  title="SoftwareDevelopment">
              </div>
            </a>
            <div class="content_box content_box1 content_box2"><a routerLink="softwareDevelopment">
                <h4> Struts Vs Spring </h4>
                <p> Struts Vs Spring posted Dec 5, 2014, 6:32 PM by Bipin Sasi Submitted by Raghvendra Kumar Spring
                  supports a large number of standards, btw. JSR330, JMS, JSR250, JPA, JSR303, the whole servlet ...</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section>
    <div class="row" style="width:100%;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
    
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <div *ngFor="let number of slides let i = index">
                <li [ngClass]="{'active' : i == count}"></li>
              </div>
    
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item" *ngFor="let image of slides let i = index" [ngClass]="{'active' : i == count}">
                <img class="d-block w-100" [src]="image.img" alt="First slide">
              </div>
            </div>
            <a class="carousel-control-prev" (click)="prev()" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" (click)="next()" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
</section>
<!-- <section class="contact-form">
    <h2>Request a Call Back</h2>
  <ngv-contact-form></ngv-contact-form>
</section> -->
