
<section class="val_index_page">
    
    <div class="banner_index">
          <div class="banner_sec">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <h1><span style="color:rgb(238, 74, 74);">CONTACT</span> US</h1>
                  </div>
                </div>
              </div>
          </div>    
              
          <ngv-contact-form></ngv-contact-form>
    </div>

    <!-- <div class="get-support">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
              <h1><span class="here-is-how">HERE'S HOW YOU CAN LOCATE US</span></h1>
          </div>
        </div>
        <div class="row" >
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-bottom:30px;" *ngFor = "let item of contact_address">
              <div class="contact_detail">
                  <ul> 
                      <li>
                           <p class="address"><strong>{{item.office}}:</strong></p>
                              <span>{{ item.address_line1 }}</span><br>
                              <span>{{ item.address_line2 }}</span>
                              <span *ngIf="item.address_line3 !==''"><br>{{ item.address_line3 }}</span>
                              <span *ngIf="item.address_line4 !==''"><br>{{ item.address_line4 }}</span>
                              <span *ngIf="item.contact !==''"><br>Contact No : {{ item.contact }}</span>
                              <span *ngIf="item.email_id !==''" ><br>email: {{ item.email_id }}</span>
                          
                        </li>
                  </ul>
              </div>
          </div>
         
        </div>
      </div> 
    </div> -->
    <!-- <div class="map">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                <div style="display:block;height: 411px;">
                    <iframe class="google-map" style="margin: 0;padding: 0;border: none;height: 100%;width: 100%;" 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.2414299173156!2d77.40197731455042!3d23.23429998484628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c4295cd2f5529%3A0xe1c8f14f1dea8f52!2s17%2C+Malviya+Nagar%2C+Bhopal%2C+Madhya+Pradesh+462011!5e0!3m2!1sen!2sin!4v1536125104698"></iframe>
                </div> 
            </div>
        </div>
    </div>  -->
</section>