<div class="dialog-body">
  <div mat-dialog-title class="error-icon"></div>
  <mat-dialog-content style="text-align: center;">
    <span>{{ message }}</span>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-dialog-close type="button" class="retry" *ngIf="responseAction == 'LOGIN'" (click)="redirectToLogin()">OK</button>
    <button mat-dialog-close type="button" class="continue" *ngIf="responseAction == 'CONTINUE'" (click)="redirectToBasicInfo()">OK,
      CONTINUE</button>
    <button mat-dialog-close type="button" class="retry" *ngIf="responseAction == 'STOP'">OK</button>
  </mat-dialog-actions>
</div>
