.val_index_page {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
  
    .banner_index {
      height: 500px;
      background-image: url('/assets/banner5.jpg');
      background-position: 0px 0px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-color: transparent;
      .banner_sec{
        padding: 120px 0 30px;
        text-align: center;
        background: 0 0;
        float: left;
        width: 100%;
          h1 {
            font-size: 80px;
            line-height: 90px;
            color: #fff;
            font-weight: 700;
          }
       } 
    }

    .get-info{
      width: 100%;
      float: left;
      margin-top: 50px;
      padding: 30px 0 61px;
      background: white;
      color: black;
      text-align: left;
    }

    
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .val_index_page {
      .banner_index {
        height: 250px;
        .banner_sec{
          padding-top: 110px;
            h1 {
              font-size: 30px;
              line-height: 45px;
            }
         }
       }
     }
  }


   // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  { }

 
  