<section class="val_index_page">
    <div class="banner_index">
        <div class="banner_sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1><span style="color:#ffd740;">Recruitment Process</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="get-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2><strong>Get total support to optimize your talent pipeline</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p style="margin-bottom:40px;text-align: justify;">Apex Recruitment Processing Outsourcing (RPO)
                        service provides a higher level of customer engagement to ensure talent gaps do not negatively
                        impact your business. Think of Apex as an extension of your organization, seamlessly supplying
                        and integrating top talent, providing flexibility and scalability, so your HR team can focus on
                        strategic business objectives.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul>
                                <li>Onboarding services</li>
                                <li>Weekly reports</li>
                                <li>Job definition and descriptions</li>
                                <li>Market trends</li>
                                <li>Salary insight</li>
                                <li>Onsite interview management</li>
                                <li>Culture fit evaluation</li>
                                <li>Testing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>