<section class="val_index_page">   
        <div class="banner_index">
             <div class="banner_sec">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <h1><span style="color:#ffd740;">App Engine </span>Development</h1>
                      </div>
                    </div>
                  </div>
              </div>    
        </div>

        <div class="get-info">
          <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2><strong>Leverage the Power of Google Technology</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p style="margin-bottom:40px;text-align: justify;">Google App Engine allows you to run applications on Google's infrastructure. 
                        This means you get the power, reliability and scalability that has made Google an industry 
                        technology leader without needing to maintain your own servers.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2><strong>Migrate Legacy Apps to App Engine </strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p style="margin-bottom:40px;text-align: justify;">VRD NETWORK can help you migrate your legacy software 
                      to the cloud and join the thousands of clients that now enjoy 
                      the benefits of better, faster more compatible versions of their 
                      old desktop software. Moving to the cloud puts you on the international stage allowing you to
                      work from any computer anywhere in the world while increasing security far beyond industry network standards.
                    </p>
                </div>
             </div> 
             <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2><strong>Google Apps Integration</strong></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p style="text-align: justify;">
                            VRD really shines when it comes to plugging App Engine into the rest of 
                            your Google Apps providing solutions that work
                            for everyone in your business without the worry about the device or operating system they use.
                        </p>
                    </div>
                 </div>   
          </div>
        </div>
</section>
