<section class="val_index_page">
    <div class="banner_index">
        <div class="banner_sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1><span style="color:#ffd740;">Engineering Services</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="get-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2><strong>We offer targeted recruiting that provides the industry’s best talent to your
                            job.</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p style="margin-bottom:40px;text-align: justify;">Engineering recruitment has never been more
                        complex and the talent marketplace is both global and competitive in scope. Over the course of
                        the last two decades, the evolution of the industry has been rapid and radical. Both,
                        engineering management and technical jobs, now require a deep understanding of the industry’s
                        evolution plus a keen insight into the future. With knowledge and precision, our recruiters
                        expertly help our clients find skilled individuals while also supporting candidates to find
                        opportunities that build lasting, successful engineering careers.
                    </p>
                    <p>
                        We help locate talent for the following job function/roles:
                    </p>
                </div>
            </div>

            


            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2><strong>Industries We Serve :</strong></h2>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul>
                            <li>Transportation</li>
                            <li>Industrial Products</li>
                            <li>Plant Engineering</li>
                            <li>Aerospace</li>
                            <li>Semiconductors</li>
                            <li>Media & Entertainment</li>
                            <li>Consumer Electronics</li>
                            <li>Medical Devices</li>
                            <li>Telecommunications</li>
                            <li>Oil & Gas</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 60px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="eng_service">
                        </div>
                    </div>
            </div>


        </div>
    </div>
</section>